<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_amazing_team"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_amazing_team"
        android:supportsRtl="true"
        android:theme="@style/Theme.YouTube"
        tools:targetApi="31">
        <activity
            android:name=".view.ui.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.AddVideoActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.VideoDisplayActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".view.ui.RegistrationActivity2"
            android:exported="false" />
        <activity
            android:name=".view.ui.VideoListActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>